section#webgl-screen.unsupported.unsupported--disabled
  p.unsupported__logo espidesigns //

  .unsupported__wrapper
    h1.unsupported__title
      | Sorry, this folio is not optimized #[br]
      | for your browser.

    p.unsupported__description
      | Come back after you #[a(href="https://get.webgl.org/" target="_blank") enable WebGL] for the full experience. #[br]
      | I guarantee it will be worth the effort.

    .unsupported__columns
      .unsupported__column
        h2.unsupported__subtitle Work Inquiries

        p
          a.unsupported__link(href="mailto:espi@espidesigns.com") espi@espidesigns.com

      .unsupported__column
        h2.unsupported__subtitle Social

        p
          //- a.unsupported__link(href="https://medium.com/@espidesigns" target="_blank") Medium
          a.unsupported__link(href="https://www.instagram.com/espidesigns/" target="_blank") Instagram
          a.unsupported__link(href="https://linkedin.com/in/espidesigns" target="_blank") LinkedIn
          a.unsupported__link(href="https://twitter.com/espidesigns" target="_blank") Twitter
